.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #d3d3d3;

  padding: 12px;
  font-weight: 700;
}

.headerWrap {
  display: flex;
  gap: 20px;
}
